@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import './mixins.scss';

* {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container {
    background-image: url('./sky-night-star-milky-way-atmosphere-galaxy-aurora-outer-space-astronomy-midnight-astronomical-object-spiral-galaxy-1409392.jpg');
    background-repeat: round ;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: auto;
    .calculator {
        box-shadow: 0px 4px 6px 0px rgb(164, 164, 164);
        border: none;
        width: 25rem;
        padding: 20px 19px 20px 19px; 
        border-radius: 3px;
        @include backColor(rgb(173, 171, 202));
        @include margin(4px 0px);
        .btn {
            box-sizing: border-box;
            width: 24.25%;
            height: 6vh;
            outline: none;
            border: none;
            border-radius: 3px;
            @include margin(6px 0px 0px 0px);
            @include fonts(20px);
            @include backColor(rgb(86, 86, 169));
            &:hover {
                @include backColor(rgb(47, 36, 109));
            };
            &:active {
                opacity: .7;
            };  
            &:last-child {
                width: 100%;
            }
        }
    }
    .result {
        padding-right: 5px;
        height: 50px;
        width: 100%;
        box-sizing: border-box;
        text-align: right;
        direction: ltr;   
        border: none;
        @include fonts(35px);
        @include margin(0px 0px 14px 0px);
    }
}

@media (max-width: 420px) {
    .container{
        display: flex;
        width: 100%;
        .calculator {
            width: 20em;
            .btn {
                width: 24%;
            }
        }
        .result {
            @include margin(0px 0px 14px 0px)
        }
    }
}

@media (max-height: 420px) {
    .container {
        display: flex;
        .calculator {
           .btn {
                height: 2.5em;
           }
        }
    }
}
